<div id="<%= dom_id model %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Name:</strong>
    <%= model.name %>
  </p>

  <% if model.url.present? %>
    <p class="my-5">
      <strong class="font-medium mb-1">Url:</strong>
      <%= model.url %>
    </p>
  <% end %>

</div>
