<div class="container px-6 mx-auto mt-10 grid">
  <%= render 'layouts/flash' %>

  <% content_for :title, "Models" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-100">Models</h1>
    <%= link_to "New model", new_model_path, class: "px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" %>
  </div>

  <div id="models" class="min-w-full">
    <% @models.each do |model| %>
      <%= render model %>
      <p>
        <%= link_to "Show this model", model, class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
