<div id="<%= dom_id prompt %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= prompt.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= prompt.value %>
  </p>

</div>
