<div class="container mx-auto mt-10 w-full">
  <h1 class="font-bold text-4xl">New prompt</h1>

  <%= render "form", prompt: @prompt %>

  <%= link_to "Back to prompts", prompts_path, class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
</div>
