<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Configuration:</strong>
    <%= participant.configuration&.to_json %>
  </p>

  <p>
    <strong>Implementor:</strong>
    <%= participant.implementor %>
  </p>

</div>
