<p style="color: green"><%= notice %></p>

<h1>Participants</h1>

<div id="participants">
  <% @participants.each do |participant| %>
    <%= render participant %>
    <p>
      <%= link_to "Show this participant", participant %>
    </p>
  <% end %>
</div>

<%= link_to "New participant", new_participant_path %>
