<!-- app/views/model_versions/index.html.erb -->
<div class="container mx-auto mt-10 w-full">
  <div class="flex w-full">
    <div class="p-4 border-r border-gray-300 panel-half">
      <h3 class="text-lg font-semibold mb-4">Select Model Version for Left Panel</h3>
      <%= select_tag 'left-panel-model', options_from_collection_for_select(@model_versions, 'id', 'full_name'), 
                     prompt: 'Select a model version', class: 'form-control w-full px-3 py-2 border border-gray-300 rounded-md', data: { prompt_id: @prompt.id } %>
      <div id="left-panel-result" class="mt-4">
      </div>
    </div>
    <div class="p-4 panel-half">
      <h3 class="text-lg font-semibold mb-4">Select Model Version for Right Panel</h3>
      <%= select_tag 'right-panel-model', options_from_collection_for_select(@model_versions, 'id', 'full_name'), 
                     prompt: 'Select a model version', class: 'form-control w-full px-3 py-2 border border-gray-300 rounded-md', data: { prompt_id: @prompt.id } %>
      <div id="right-panel-result" class="mt-4">
      </div>
    </div>
  </div>
</div>
