<div class="container mx-auto mt-10 w-full">
  <h1 class="font-bold text-4xl">Editing model version</h1>

  <%= render "form", model_version: @model_version %>

  <%= link_to "Show this model version", [@model, @model_version], class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
  <%= link_to "Back to model versions", model_model_versions_path(@model), class: "ml-2 rounded-lg py-3 px-5 secondary-button inline-block font-medium" %>
</div>
