<div class="container px-6 mx-auto mt-10 mb-10 grid">
  <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-100">Editing model version</h1>

  <%= render "form", model_version: @model_version %>
</div>
